.manage-title {
    position: static;
    width: 542px;
    height: 88px;
    margin: 60px auto 30px;
    padding: 0px;
    color: rgb(77, 77, 77);
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;

}

.manage-text {
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    color: rgb(113, 113, 113);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.box-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    width: 299px;
    margin-top: 16px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
    background: rgb(255, 255, 255);
    transition: all 0.2s ease;
    cursor: pointer;
}
.box:hover{
    transform: scale(1.008);
    box-shadow: 0px 0px 25px rgba(171, 190, 209, 0.8);
}

.box-icon {
    padding-left: 120px;

}

.box-title {
    color: rgb(77, 77, 77);
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    padding: 16px 8px;

}

.box-text {
    color: rgb(113, 113, 113);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}