.demo {
    margin-top: 105px;
    padding: 32px 0;
}

.demo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.demo-title {
    color: rgb(38, 50, 56);
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: 0%;
    text-align: center;
    width: 887px;
    margin: 0 auto;
}

.demo-btn {
    border-radius: 4px;
    background: rgb(76, 175, 79);
    width: 178px;
    height: 52px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
    color: #fff;
}
.demo-btn::after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
}
.demo-btn:hover::after {
    left: 120%;
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}