.our-title {
    position: static;
    width: 1110px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    color: rgb(77, 77, 77);
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 130px;
    margin-top: 40px;
}

.our-text {
    color: rgb(113, 113, 113);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    position: static;
    width: 1110px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    padding-left: 130px;

}
.our-btm{
  margin-top: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}