@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    background-color: #fff;
}

.section2 {
    background-color: rgb(245, 247, 250);
}

.section3 {
    background: rgb(38, 50, 56);
    
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;

}